[MESSAGES CONTROL]
disable=
    bad-continuation,
    fixme,
    locally-disabled,
    missing-docstring,
    no-init,
    redefined-builtin,
    redefined-outer-name,
    redefined-variable-type,
    star-args,
    misplaced-comparison-constant,

# vim:ft=dosini:
